<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a Job</title>
  </head>
  <body>
    <a href="/jobs">Back</a><a href="/logout_user">Logout</a>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Add a Job</h1>
    <form class="" action="/jobs/create_job" method="post">
      {% csrf_token%}
      Title: <br><input type="text" name="title" value=""><br><br>
      Description: <br><input type="text" name="description" value=""><br><br><br>
      Location: <br><input type="text" name="location" value=""><br><br>
      <input type="submit" name="submit" value="Submit">

    </form>
  </body>
</html>
