<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
    <style media="screen">
      .inline{
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div class="">
      <a href="/logout_user">Logout</a> |
      <a href="/jobs/add_job">Add Job</a>
      <h1>Welcome {{ user.first_name}}</h1>
    </div>
    <div class="inline">
      <table>
        <tr>
          <th>Job</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
        {% for job in jobs  %}
          <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.location }}</td>
            <td> <a href="/jobs/show/{{job.id}}">View</a>
              <a href="/jobs/createJoin/{{job.id}}">add</a>
              {% if job.creator.id == request.session.user_id %}
                <a href="/jobs/edit/{{job.id}}">Edit</a>
                <a href="/jobs/delete/{{job.id}}">cancel</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="inline">
      <table>
        <tr>
          <th>My Jobs</th>
        </tr>
        <tr>
          {% for job in my_jobs %}
            <tr>
              <td>{{job.title}} <a href="/jobs/show/{{job.id}}">View</a> |
                <a href="/jobs/delete/{{job.id}}">Done</a></td>
            </tr>
          {% endfor %}
        </tr>
      </table>
    </div>
  </body>
</html>
